{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="page-card">
    <h1 class="page-title">Hola {{ controller_name }} 👋</h1>
    <p>Esta es la página principal del proyecto.</p>
</div>
{% endblock %}
